---
layout: post
---

{{ content }}

<p><img src="{{ page.sketch }}" alt="Mindful sketch" loading="lazy" /></p>

<!--more-->

<hr/>

<p><em>Mindful Sketch is an exercise that I developed to practice mindfulness by using sketchnotes. You can <a href="/tags/mindfulsketch">view all mindfulsketch posts</a>, <a href="/mindful-sketch-template/">read more about it</a>, or <a href="https://bennorris.shop/l/mindfulsketch">buy the template</a> to support me and try the exercise yourself.</em></p>

<p><a href="https://bennorris.shop/l/mindfulsketch" class="btn"><span class="icon">{% include icon-cart.svg %}</span>Buy template</a></p>
